<!DOCTYPE html>
<html>
    <head>
        <title>Change password</title>
        <meta charset="utf-8">
        <link href="battlefield.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    </head>
    <body>
        <div id="navbar">
            <img id="logo" src="/logo.png">
            <a id="logoutLink" href="/logout"><button id="logoutButton">LOGOUT</button></a>
        </div>
        <div id="battlefieldContainer">
            <div id="enemySide">
                <div class="profileRow" id="enemyProfile">
                    <div class="user">
                        <div>
                            <div class="avDiv"><img class="avathar" src="/avathars/trixxtazz.jpg"></div>
                            <p class="nickname">trixxtazz</p>
                        </div>
                        <div class="playerInfoCon">
                            <p class="playerInfo"><span>Health: 100</span><span id="timeSpan">Time: 30</span></p>
                            <div class="health-bar" data-total="100" data-value="100">
                                <div class="bar">
                                      <div class="hit"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cardRow" id="enemyCards">
                    <div class="minion enemyCard">
                        <img class="char thinMin" src="/izanagi.png">
                        <div class="charName">Izanami</div>
                        <div class="minionInfo">
                            <div class="cardAttack">
                                <p class="points">5</p>
                                <p class="stat">Attack</p>
                            </div>
                            <div class="cardDefense">
                                <p class="points">5</p>
                                <p class="stat">Defense</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mySide">
                <div class="cardRow" id="myCards">
                    <div  class="minion myCard">
                        <img class="char thinMin" src="/izanami.png">
                        <div class="charName">Izanami</div>
                        <div class="minionInfo">
                            <div class="cardAttack">
                                <p class="points">5</p>
                                <p class="stat">Attack</p>
                            </div>
                            <div class="cardDefense">
                                <p class="points">5</p>
                                <p class="stat">Defense</p>
                            </div>
                        </div>
                    </div>
                    <div class="myCard minion">
                        <img class="char thinMin" src="/izanami.png">
                        <div class="charName">Izanami</div>
                        <div class="minionInfo">
                            <div class="cardAttack">
                                <p class="points">5</p>
                                <p class="stat">Attack</p>
                            </div>
                            <div class="cardDefense">
                                <p class="points">5</p>
                                <p class="stat">Defense</p>
                            </div>
                        </div>
                    </div>
                    <div class="myCard minion">
                        <img class="char thinMin" src="/izanami.png">
                        <div class="charName">Izanami</div>
                        <div class="minionInfo">
                            <div class="cardAttack">
                                <p class="points">5</p>
                                <p class="stat">Attack</p>
                            </div>
                            <div class="cardDefense">
                                <p class="points">5</p>
                                <p class="stat">Defense</p>
                            </div>
                        </div>
                    </div>
                    <div class="myCard minion">
                        <img class="char thinMin" src="/izanami.png">
                        <div class="charName">Izanami</div>
                        <div class="minionInfo">
                            <div class="cardAttack">
                                <p class="points">5</p>
                                <p class="stat">Attack</p>
                            </div>
                            <div class="cardDefense">
                                <p class="points">5</p>
                                <p class="stat">Defense</p>
                            </div>
                        </div>
                    </div>
                    <div class="myCard minion">
                        <img class="char thinMin" src="/izanami.png">
                        <div class="charName">Izanami</div>
                        <div class="minionInfo">
                            <div class="cardAttack">
                                <p class="points">5</p>
                                <p class="stat">Attack</p>
                            </div>
                            <div class="cardDefense">
                                <p class="points">5</p>
                                <p class="stat">Defense</p>
                            </div>
                        </div>
                    </div>
                    <div class="myCard minion">
                        <img class="char thinMin" src="/izanami.png">
                        <div class="charName">Izanami</div>
                        <div class="minionInfo">
                            <div class="cardAttack">
                                <p class="points">5</p>
                                <p class="stat">Attack</p>
                            </div>
                            <div class="cardDefense">
                                <p class="points">5</p>
                                <p class="stat">Defense</p>
                            </div>
                        </div>
                    </div>
                    <div class="myCard minion">
                        <img class="char thinMin" src="/izanami.png">
                        <div class="charName">Izanami</div>
                        <div class="minionInfo">
                            <div class="cardAttack">
                                <p class="points">5</p>
                                <p class="stat">Attack</p>
                            </div>
                            <div class="cardDefense">
                                <p class="points">5</p>
                                <p class="stat">Defense</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profileRow" id="myProfile">
                    <div class="user">
                        <div>
                            <div class="avDiv"><img class="avathar" src="/avathars/trixxtazz.jpg"></div>
                            <p class="nickname">trixxtazz</p>
                        </div>
                        <div class="playerInfoCon">
                            <p class="playerInfo"><span>Health: 100</span><span id="timeSpan">Time: 30</span></p>
                            <div class="health-bar" data-total="100" data-value="100">
                                <div class="bar">
                                      <div class="hit"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="playerCards">
                        <div class="myCard card">
                            <img class="char thinCard" src="/izanami.png">
                            <div class="charNameCard">Izanami</div>
                            <div class="cardInfo">
                                <div class="cardAttack">
                                    <p class="points">5</p>
                                    <p class="stat">Attack</p>
                                </div>
                                <div class="cardDefense">
                                    <p class="points">5</p>
                                    <p class="stat">Defense</p>
                                </div>
                                <div class="cardCost">
                                    <p class="points">5</p>
                                    <p class="stat">Cost</p>
                                </div>
                            </div>
                        </div>
                        <div class="myCard card">
                            <img class="char thinCard" src="/izanami.png">
                            <div class="charNameCard">Izanami</div>
                            <div class="cardInfo">
                                <div class="cardAttack">
                                    <p class="points">5</p>
                                    <p class="stat">Attack</p>
                                </div>
                                <div class="cardDefense">
                                    <p class="points">5</p>
                                    <p class="stat">Defense</p>
                                </div>
                                <div class="cardCost">
                                    <p class="points">5</p>
                                    <p class="stat">Cost</p>
                                </div>
                            </div>
                        </div>
                        <div class="myCard card">
                            <img class="char thinCard" src="/izanami.png">
                            <div class="charNameCard">Izanami</div>
                            <div class="cardInfo">
                                <div class="cardAttack">
                                    <p class="points">5</p>
                                    <p class="stat">Attack</p>
                                </div>
                                <div class="cardDefense">
                                    <p class="points">5</p>
                                    <p class="stat">Defense</p>
                                </div>
                                <div class="cardCost">
                                    <p class="points">5</p>
                                    <p class="stat">Cost</p>
                                </div>
                            </div>
                        </div>
                        <div class="myCard card">
                            <img class="char thinCard" src="/izanami.png">
                            <div class="charNameCard">Izanami</div>
                            <div class="cardInfo">
                                <div class="cardAttack">
                                    <p class="points">5</p>
                                    <p class="stat">Attack</p>
                                </div>
                                <div class="cardDefense">
                                    <p class="points">5</p>
                                    <p class="stat">Defense</p>
                                </div>
                                <div class="cardCost">
                                    <p class="points">5</p>
                                    <p class="stat">Cost</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
