<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <meta charset="utf-8">
        <link href="edit.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    </head>
    <body>
        <% if (messageType) {%>
            <div id="<%= messageType %>"><%= messageText %></div>
        <% } else { %>
            <div id="error" style="display: none;"></div>
        <% } %>
        <img id="cloud" src="/cloud_5.png">
        <img id="towers" src="/towers.png">
        <img id="circle" src="/circle.png">
        <div id="navbar">
            <a href="/"><img id="logo" src="/logo.png"></a>
            <a id="logoutLink" href="/logout"><button id="logoutButton">LOG OUT</button></a>
        </div>
        <div id="ChangeProfileForm">
        <form id="form" action="/changepassw" method="POST">
            <div class="row">
                <label for="oldpassw">Old password</label>
                <input type="password" id="oldpassw" name="old_password" placeholder="Old password">
            </div>
            <div class="row">
                <label for="passw1">Password</label>
                <input id="passw1" type="password" placeholder="Password" name="password" required>
            </div>
            <div class="row">
                <label for="passw2">Password confirmation</label>
                <input id="passw2" type="password" placeholder="Password confirm" name="passwordConfirm" required>
            </div>
            <button type="submit">CHANGE PASSWORD</button>
        </form>
        </div>
        <img id="corner2" src="/corner_2.png">
    </body>
    <script>
        let form = document.getElementById("form");
        let passw1 = document.getElementById("passw1");
        let passw2 = document.getElementById("passw2");
        let error = document.getElementById("error");
        form.addEventListener("submit", (event) => {
            if (passw1.value != passw2.value) {
                event.preventDefault();
                error.style.display = "block";
                error.innerText = "Passwords don't match";
                return;
            }
        });
    </script>
</html>