body{
    flex-shrink: 0;
    background: url(login_samurai.png), lightgray 50% / cover no-repeat;
    background-color: #02020F;
}

#logo{
    height: 50px;
    width: 100px;
}

label{
    display: block;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.row{
    width: 83.76%;
    margin-top: 1.5%;
}

input:not(#avathar), #av-wrapper{
    height: 51.3px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 6px;
    border: 0.6px solid #282828;
    background: #FFF;
    padding-left: 6.38%;
}

input::placeholder, #avLabel{
    color: #ABABAB;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#av-wrapper:hover, #avLabel:hover{
    cursor: pointer;
}

#avLabel{
    margin-top: 18.65px;
}

#regForm{
    margin-top: 18px;
    margin-left: 111px;
    width: 35.07%;
    height: 84.11%;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0.5px solid #878787;
    background: #FFF;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.05);
}

#signup{
    width: 23.36%;
    height: 3.95%;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 1.81%;
    margin-left: 6.93%;
    margin-bottom: 0%;
}

#form{
    margin-left: 6.93%;
    margin-top: 3.83%;
}

#avathar{
    display: none;
}

button{
    margin-top: 5%;
    width: 89.2%;
    height: 57px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #000;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#already{
    margin-left: 22.17%;
    color: #7D7D7D;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 3%;
}

#goback{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#samurai{
    position: absolute;
    margin-left: 52.36%;
    margin-top: 36.88%;
}